@font-face {
  font-family: "BeatriceTRIAL_semibold";
  src: url("../src/assets/fonts/beatricetrial/BeatriceTRIAL-Semibold.otf"),
  src: url("../src/assets/fonts/beatricetrial/BeatriceTRIAL-Bold.otf"),
       url("../src/assets/fonts/oaksans/OakSans-Regular.ttf"),
       url("../src/assets/fonts/oaksans/OakSans-Bold.ttf"),
       url("../src/assets/fonts/oaksans/OakSans-Semibold.ttf"),url("../src/assets/fonts/oaksans/OakSans-Light.ttf");

  /* font-weight: 400;
  font-style: normal; */
}

@import "tailwindcss";

:root {
    --font-BeatriceTRIAL_semibold: BeatriceTRIAL_semibold, "sans-serif";
    --font-BeatriceTRIAL_bold: BeatriceTRIAL_semibold, "sans-serif";
    --font-oaksans: OakSans, "sans-serif";
    --font-oaksans-bold: OakSans-Bold, "sans-serif";
    --font-oaksans-semibold: OakSans-Semibold, "sans-serif";
}

/* Custom keyframe for the settings icon spin */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}