@font-face {
  font-family: "BeatriceTRIAL_semibold";
  src: url("../src/assets/fonts/beatricetrial/BeatriceTRIAL-Semibold.otf"),
  url("../src/assets/fonts/beatricetrial/BeatriceTRIAL-Bold.otf"),
       url("../src/assets/fonts/oaksans/OakSans-Regular.ttf"),
       url("../src/assets/fonts/oaksans/OakSans-Bold.ttf"),
       url("../src/assets/fonts/oaksans/OakSans-Semibold.ttf"),url("../src/assets/fonts/oaksans/OakSans-Light.ttf");

  /* font-weight: 400;
  font-style: normal; */
}

@import "tailwindcss";

:root {
    --font-BeatriceTRIAL_semibold: BeatriceTRIAL_semibold, "sans-serif";
    --font-BeatriceTRIAL_bold: BeatriceTRIAL_bold, "sans-serif";
    --font-oaksans: OakSans, "sans-serif";
    --font-oaksans-bold: OakSans-Bold, "sans-serif";
    --font-oaksans-semibold: OakSans-Semibold, "sans-serif";
}

/* Custom keyframe for the settings icon spin */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}

/* In your global CSS file (e.g., src/index.css or src/App.css) */

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.modal-no-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

/* Hide scrollbar for Firefox */
.modal-no-scrollbar {
    scrollbar-width: none; /* For Firefox */
}

/* Hide scrollbar for IE and Edge */
.modal-no-scrollbar {
    -ms-overflow-style: none; /* For IE and Edge */
}

/* Hide scrollbar but keep scroll functionality */
.hide-scrollbar {
  scrollbar-width: none;         /* Firefox */
  -ms-overflow-style: none;      /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;                 /* Chrome, Safari, and Opera */
}
